<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>GoMall</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body class="home">
    <h1 class="head">GoMall</h1>
    <br />
    <div class="authbtn">
      <button onclick="location.href='/login'">Login</button>
      <button onclick="location.href='/signup'">Signup</button>
    </div>
  </body>
</html>
