<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>ProductsPage</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-title">
        <svg
          viewBox="0 0 24 24"
          width="34"
          height="34"
          style="margin-right: 4px"
        >
          <path
            fill="#fff"
            d="M2.5,6.5h19v2h-19v-2zm0,5h19v2h-19v-2zm0,5h19v2h-19v-2z"
          />
        </svg>
        <span style="margin-left: 4px">GoMall</span>
      </div>
      <div class="nav-search-bar">
        <input title="input" class="search-input" />
        <svg
          viewBox="0 0 24 24"
          style="height: 40px; width: 40px; margin-bottom: 2px"
        >
          <path
            fill="#fff"
            d="M2.5,6.5h19v2h-19v-2zm0,5h19v2h-19v-2zm0,5h19v2h-19v-2z"
          />
        </svg>
      </div>
      <div class="nav-btn-bar">
        <button onclick="location.href='/login'" class="nav-btn">Login</button>
        <button onclick="location.href='/signup'" class="nav-btn">
          Signup
        </button>
      </div>
    </nav>
    <div class="main">
      <div class="main-nav">
        <div class="main-nav-menu">
          <svg viewBox="0 0 24 24" width="24" height="24">
            <path
              fill="#fff"
              d="M2.5,6.5h19v2h-19v-2zm0,5h19v2h-19v-2zm0,5h19v2h-19v-2z"
            />
          </svg>
        </div>
        <div class="main-nav-title">title2</div>
        <div class="main-nav-title">title3</div>
        <div class="main-nav-title">title4</div>
        <div class="main-nav-title">title5</div>
        <div class="main-nav-news">latest news</div>
      </div>
      <div class="main-banner">
        <div class="left-key">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              fill="#000"
              d="M320.5 116.5L207 230 320.5 343.5 291.5 372.5 145 226 291.5 79.5z"
            />
          </svg>
        </div>
        <div class="right-key">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              fill="#000"
              d="M191.5 116.5L223.5 84.5 370 231 223.5 377.5 191.5 345.5 307 230z"
            />
          </svg>
        </div>
      </div>
      <div class="products">
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
        <div class="products-card">
          <div class="image"></div>
          <div class="card-discription">
            <div style="text-align: center">Some Company</div>
            <div style="padding-left: 4px">4.3</div>
            <div style="font: bold; font-size: x-large">Card Price</div>
            <div
              style="
                height: 50px;
                background: #333;
                text-align: center;
                padding: 2px;
              "
            >
              Card Description
            </div>
            <div style="height: 20px">some other details</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-cont">Footer</div>
    </footer>
  </body>
</html>
